*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'airb';
    src: url('./fonts/AirbnbCerealBlack.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'airb-bold';
    src: url('./fonts/AirbnbCerealBold.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'airb-book';
    src: url('./fonts/AirbnbCerealBook.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'airb-extra-bold';
    src: url('./fonts/AirbnbCerealExtraBold.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'airb-light';
    src: url('./fonts/AirbnbCerealLight.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'airb-medium';
    src: url('./fonts/AirbnbCerealMedium.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

.video-header {
    font-family: 'airb-medium', sans-serif;
    width: 100%;
    height: 720px;
}

.header {
    background-image: url('https://www.loumarturismo.com.br/transflix/img/bg_transflix.gif');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    height: 800px;
}

.menu-item {
    list-style: none;
    color: white;
    font-size: 1.2em;
}

.section-1 {
    width: 100%;
    color: white;
    margin-top: -22%;
}

.subtitle, .title {
    margin: 0;
    margin-left: 10%;
    position: relative;
    z-index: 9999;
}

.subtitle {
    font-size: 2.5rem;
    margin-left: 10%;
}

.title {
    font-size: 4.5rem;
}

.cards {
    margin-top: 7%;
    padding: 0;
    z-index: 9999;
    position: relative;
}

.card-bg1 {
    background-image: url(./img/macuco.jpg);
    border-radius: 36px 36px 0 0;
    height: 220px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-bg2 {
    background-image: url(./img/cataratas-bike.jpg);
    border-radius: 36px 36px 0 0;
    height: 220px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-bg3 {
    background-image: url(./img/templo-budista.jpg);
    border-radius: 36px 36px 0 0;
    height: 220px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-bg4 {
    background-image: url(./img/belmond.jpg);
    border-radius: 36px 36px 0 0;
    height: 220px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-iguassu {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 36px;
    width: 19%;
}

.title-card {
    text-align: center;
    margin-top: -15%;
    font-family: 'airb-book', sans-serif;
}

.card-description {
    color: black;
    margin-top: 8%;
    margin-bottom: 6%;
    text-align: center;
}

.section-2 {
    margin-top: 6%;
}

.reserve {
    padding: 1.5%;
    color: black;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
    font-size: 1.5rem;
    transition: .5s;
}

.reserve:hover {
    background-color: black;
    color: white;
}